{% extends 'base.html' %}

{% block content %}
<!-- Page Title -->
<div class="text-center mb-12 mt-12">
    <h1 class="text-4xl font-bold mb-3">Add Vehicle</h1>
    <p class="text-slate-400">Add your new EV vehicle</p>
</div>

<!-- Add vehicle form -->
<form method="POST" action="{% url 'add_vehicle' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="bg-slate-800 rounded-3xl p-10 mx-44">
        <!-- License Plate -->
        <div class="mb-8">
            <label for="{{ form.license_plate.id_for_label }}" class="block text-white text-lg font-medium mb-3">{{ form.license_plate.label }}</label>
            {{ form.license_plate }}
            <div class="text-red-400 text-sm mt-2">
                {{ form.license_plate.errors }}
            </div>
        </div>

        <!-- Brand -->
        <div class="mb-8">
            <label for="{{ form.brand.id_for_label }}" class="block text-white text-lg font-medium mb-3">{{ form.brand.label }}</label>
            {{ form.brand }}
            <div class="text-red-400 text-sm mt-2">
                {{ form.brand.errors }}
            </div>
        </div>

        <!-- Model -->
        <div class="mb-10">
            <label for="{{ form.model.id_for_label }}" class="block text-white text-lg font-medium mb-3">{{ form.model.label }}</label>
            {{ form.model }}
            <div class="text-red-400 text-sm mt-2">
                {{ form.model.errors }}
            </div>
        </div>

        <!-- Action Buttons -->
        <div class="flex justify-end gap-4">
            <a href="{% url 'vehicle' %}">
                <button type="button"
                    class="flex-1 px-8 py-4 bg-red-400 hover:bg-red-500 text-white font-medium rounded-2xl transition-colors cursor-pointer">
                    cancel
                </button>
            </a>
            <a href="{% url 'vehicle' %}">
                <button type="submit"
                    class="flex-1 px-8 py-4 bg-green-500 hover:bg-green-600 text-slate-900 font-medium rounded-2xl transition-colors cursor-pointer">
                    confirm
                </button>
            </a>
        </div>
    </div>
</form>
{% endblock %}
