{% extends 'base.html' %}

{% block content %}
<!-- Page Title -->
<div class="text-center mb-12 mt-12 relative">
    <h1 class="text-4xl font-bold mb-3">Vehicles</h1>
    <p class="text-slate-400">All your EV vehicles available</p>
    <!-- Page Header -->
    <div class="flex justify-end items-end absolute top-7 right-0">
        <a href="{% url 'add_vehicle' %}">
            <button class="px-6 py-3 bg-yellow-400 hover:bg-yellow-500 text-slate-900 rounded-lg font-medium transition-colors">
                Add Vehicle
            </button>
        </a>
    </div>
</div>

<!-- Vehicle Grid -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {% for vehicle in vehicles %}
        <!-- Vehicle Card 1 -->
        <div class="bg-slate-800 rounded-2xl p-8 border border-slate-700">
            <div class="flex items-start justify-between mb-8">
                <h2 class="text-3xl font-bold">{{vehicle.license_plate}}</h2>
                <div class="flex gap-3">
                    <a  href="{% url 'edit_vehicle' vehicle.id %}">
                        <button class="px-6 py-2 bg-cyan-400 hover:bg-cyan-500 text-slate-900 rounded-lg font-medium transition-colors">
                            edit
                        </button>
                    </a>
                    <form method="POST" action="{% url 'delete_vehicle' vehicle.id %}">
                        {% csrf_token %}
                        <button type="submit" class="px-6 py-2 bg-red-400 hover:bg-red-500 text-white rounded-lg font-medium transition-colors">
                            delete
                        </button>
                    </form>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-8">
                <div>
                    <p class="text-slate-400 mb-2">brand</p>
                    <p class="text-yellow-400 text-xl font-medium">{{vehicle.brand}}</p>
                </div>
                <div>
                    <p class="text-slate-400 mb-2">model</p>
                    <p class="text-yellow-400 text-xl font-medium">{{vehicle.model}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
